body{
    background-color:#430D5C;
    border-left: #75209C dashed 10px;
    border-right: #75209C dashed 10px;
}
.header1{
    font-size:45px;
    color:white;
    font-family: sans-serif;
    animation-name:typing;
    animation-duration:5s;
    animation-iteration-count:1;
    overflow:hidden;
    white-space:nowrap;
    text-align:center
}
@keyframes typing{
    from {width:0%;height:10%}
    to {width:50%;height:10%}
}
.source{
    font-size:15px;
    color:white;
    font-family: sans-serif;
    animation-name:typing;
    animation-duration:5s;
    animation-iteration-count:1;
    overflow:hidden;
    white-space:nowrap;
    text-align:center
}
@keyframes fade{
    from {opacity:0}
    to {opacity:1}
}
.button{
    background-color:#75209C;
    border:none;
    width:300px;
    height:75px;
    border-radius:50px;
    color:white;
    animation-name:fade;
    animation-duration:5s;
    animation-iteration-count:1;
}