body{
    background-color:bisque;
}
#board{
    position:absolute;
    top:30%;
    bottom:20%;
    left:27%;
    right:20%;
    width:700px;
    height:700px;
    border: solid black 2px;
}
.tile{
    width:100%;
    border-radius:none;
    height:100%;
    margin:0%;
    padding:0%;
}
#top{
    width:100%;
    text-align:center;
    font-family: Sans-serif;
    font-size: 50px;
    color:#7829FC;
}
#reset{
    bottom:100%;
    left:40%;
    right:40%;
    top:100%;
}
#resetButton{
    width:100%;
    display:flex;
    justify-content:center;
}
#return{
    text-decoration:none;
}
.bottomButton{
    background-color:red;
    color:white;
    border:none;
    margin:3%;
    height:50px;
    width:20%;
    border-radius:20px;
}
